.header-container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin: 0 10px;
  @media (max-width: 901px) {
    padding: 0 30px;
  }
}

.header-center {
  display: flex;
  width: 75%;
  gap: 20px;
  @media (max-width: 901px) {
    display: none;
  }
}
