a {
  color: gray;
  text-decoration: none;
}

a:hover {
  color: black;
}
.navigation {
  padding: 8px 4rem;
  display: flex;
  gap: 1.5rem;
  align-items: center;

  .navigation-logo {
    align-items: center;
    gap: 0.5rem;

    .navigation-site-name {
      font-weight: bold;
    }
  }

  .navigation-menu {
    display: flex;

    gap: 1.5rem;

    .navigation-item {
      display: flex;
      align-items: center;
      font-size: 1rem;
      font-weight: medium;
      transition: color 0.3s;

      &.active {
        color: #000000;
      }

      &.disabled {
        cursor: not-allowed;
        opacity: 0.8;
      }

      &:hover {
        color: #000;
      }
    }
  }

  .mobile-menu-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: bold;
    @media (min-width: 768px) {
      display: none;
    }
  }
}
