:root {
  --color-background-light: #f3f3f3;
  --color-background-dark: #1a1a1a;
  --color-text-light: #1a1a1a;
  --color-text-dark: #e6e6e6;
}

// @import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap");

@font-face {
  font-family: "Mulish-Bold";
  src: url("../assets/fonts/Mulish-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Mulish";
  src: url("../assets/fonts/Mulish-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "CalSans-SemiBold";
  src: url("../assets/fonts/CalSans-SemiBold.ttf") format("truetype"),
    url("../assets/fonts/CalSans-SemiBold.woff") format("woff"),
    url("../assets/fonts/CalSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.light-theme {
  background-color: var(--color-background-light);
  color: var(--color-text-light);
}

.dark-theme {
  background-color: var(--color-background-dark);
  color: var(--color-text-dark);
}

body {
  max-width: 1240px;
  max-height: 100vh;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  padding: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pointer {
  cursor: pointer;
}

.gap {
  gap: 0.4rem;
}

.column {
  display: flex;
  flex-direction: column;
}

body.scroll-bar::-webkit-scrollbar {
  width: 0.4rem;
  height: 1rem;
}

body.scroll-bar::-webkit-scrollbar-track {
  background: rgb(87, 149, 167, 0.2);
  border-radius: 1rem;
}

body.scroll-bar::-webkit-scrollbar-thumb {
  background: rgb(87, 149, 167, 0.6);
  opacity: 50%;
  border-radius: 1rem;
}

@mixin button-styles {
  text-align: center;
  white-space: nowrap;
  border: none;
  cursor: pointer;
  border-radius: 35px;
  max-width: 100%;
  padding: 10px 15px;
  font: 700 16px/20px Mulish, sans-serif;
  transition: all 0.4s ease;

  @media (max-width: 991px) {
    white-space: normal;
  }

  &:hover {
    box-shadow: 0px 5px 8px 0px rgba(77, 76, 76, 0.2);
    transform: translateY(-1px);
  }
}

.primary-button {
  @include button-styles;
  color: var(--purple-600, #665cd1);
  background-color: var(--purple-100, #f1f0ff);
  box-shadow: 0px 0px 0px 0px rgba(77, 76, 76, 0.2);

  &:hover {
    background-color: #d9d8e6;
  }
}

.secondary-button {
  @include button-styles;
  align-self: center;
  color: var(--black-100, #ebebeb);
  background-color: var(--black-600, #171717);
  box-shadow: 0px 0px 0px 0px rgba(77, 76, 76, 0.8);
}

.underline {
  background: #665cd1;
  display: flex;
  height: 1px;
}
